{% extends "cds/band_base.html" %}
{% block content %}
    <h1 class="title">{{ band.name }}</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Active</th>
        </tr>
        <tr>
            <td>{{ band.id }}</td>
            <td>{{ band.name }}</td>
            <td>{{ band.creation_date }}</td>
            <td>{{ band.active }}</td>
        </tr>
    </table>

    <a class="button" href="{% url 'cds:band-update' band.id %}">Update</a>
    <a class="button has-background-danger" href="{% url 'cds:band-delete' band.id %}">Delete</a>
{% endblock %}
