{% extends "cds/base.html" %}
{% block content %}
    <h1 class="title">{{ title }}: {{ cd.title }}</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <td>{{ cd.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ cd.title }}</td>
        </tr>
        <tr>
            <th>Total songs</th>
            <td>{{ cd.total_songs }}</td>
        </tr>
        <tr>
            <th>Publication date</th>
            <td>{{ cd.pub_date }}</td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <a class="button" href="{% url 'cds:cd-update' cd.id %}">Update</a>
                <a class="button has-background-danger" href="{% url 'cds:cd-delete' cd.id %}">Delete</a>
            </td>
        </tr>
    </table>

    {% include 'cds/song/song_inlineformset.html' %}
{% endblock %}
