{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% load formset_tags %}

<div class="mt-3">
    <h1 class="title">Songs</h1>
    <form method="post">
        {% csrf_token %}
        <div id="formset" data-formset-prefix="{{ songs.prefix }}">
            {{ songs.management_form }}

            <table class="table is-striped is-hoverable is-fullwidth" data-formset-body>
                {% for form in songs.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row" data-formset-form>
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {% if forloop.last %}
                                    <div style="display: none">{{ form.DELETE }}</div>
                                    <button type="button" data-formset-delete-button class="button">Delete</button>
                                {% else %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <script type="form-template" data-formset-empty-form>
                <tr class="formset_row" data-formset-form>
                    {% for field in songs.empty_form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in songs.empty_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% if forloop.last %}
                                <div style="display: none">{{ songs.empty_form.DELETE }}</div>
                                <button type="button" data-formset-delete-button class="button">Delete</button>
                            {% else %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </script>

            <input type="button" class="button" value="Add song" data-formset-add>
            <input type="submit" class="button" value="Save songs">

            <script>
                jQuery(function ($) {
                    $("#formset").formset({
                        animateForms: true
                    });
                });
            </script>
        </div>
    </form>
</div>