{% extends "cds/base.html" %}

{% block content %}
    <h1 class="title">{{ title }}: {{ artist }}</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <td>{{ band.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ artist.name }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ artist.last_name }}</td>
        </tr>
        <tr>
            <th>Birth date</th>
            <td>{{ artist.birth_date }}</td>
        </tr>
        <tr>
            <th>Death date</th>
            <td>{{ artist.death_date }}</td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <a class="button" href="{% url 'cds:artist-update' artist.pk %}">Update</a>
                <a class="button has-background-danger" href="{% url 'cds:artist-delete' artist.pk %}">Delete</a>
            </td>
        </tr>
    </table>

    <table class="table is-striped is-hoverable is-fullwidth">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>View</th>
        </tr>
        {% for band in artist.bands.all %}
            <tr>
                <td>{{ band.id }}</td>
                <td>{{ band.name }}</td>
                <td>{{ band.active }}</td>
                <td>
                    <a href="{% url 'cds:band-detail' band.pk %}" class="has-text-black mx-2">
                        <svg style="height: 20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
